In [7]:
# Paso 0: Importar libreria Pandas para trabajar con DFs

import pandas as pd

In [8]:
# Paso 0: Chequear ubicación de la folder correcta

%ls

 El volumen de la unidad C es Windows
 El número de serie del volumen es: 788B-24D1

 Directorio de C:\Users\javie\OneDrive\Escritorio\Ironhack\Final Project\HR-Leave\ERD Model

19/02/2024  14:03    <DIR>          .
18/02/2024  21:08    <DIR>          ..
19/02/2024  13:06    <DIR>          .ipynb_checkpoints
19/02/2024  13:55            52.151 1 - Employee.ipynb
19/02/2024  14:01            50.709 2 - Job.ipynb
19/02/2024  14:03            43.907 3 - Salary.ipynb
19/02/2024  13:05            42.500 4 - Career.ipynb
19/02/2024  13:06            45.603 5 - Performance.ipynb
19/02/2024  13:53           100.332 employee.csv
18/02/2024  18:55           332.178 hr_df.csv
19/02/2024  14:00           102.859 job.csv
19/02/2024  14:03            35.487 salary.csv
               9 archivos        805.726 bytes
               3 dirs  361.768.587.264 bytes libres

In [9]:
# Paso 0: Eliminar restricciones de display para poder ver todas las columnas


pd.options.display.max_columns=None

In [10]:
# Paso 1: Cargar DF limpio sobre el que trabajar

df = pd.read_csv('hr_df.csv')

df

,employee_id,attrition,age,age_interval,gender,education,education_cat,education_area,marital_status,department,job_level,job_role,business_travel,business_travel_cat,distance_home,distance_interval,overtime,standard_hours,daily_rate,hourly_rate,monthly_income,monthly_rate,annual_income,companies_worked,salary_hike_per,stock_option,working_years,training_lastyear,years_company,years_curr_role,years_last_promotion,years_curr_manager,environment_satisf,environment_satisf_cat,worklife_balance,worklife_balance_cat,job_involvement,job_involvement_cat,job_satisfaction,job_satisf_cat,performance_rating,performance_rating_cat,relationship_satisf,relationship_satisf_cat
0,RDO0001,Yes,41,40-49,Female,2,College,Life Sciences,Single,Sales,analyst,Sales Executive,2,rarely,1,1-5,Yes,80,1102,94,5993,19479,83902,8,11,0,8,0,6,4,0,5,2,Medium,1,Bad,3,High,4,Very High,3,Excellent,1,Low
1,RDO0002,No,49,40-49,Male,1,Below College,Life Sciences,Married,Research & Development,analyst,Research Scientist,3,frequently,8,6-10,No,80,279,61,5130,24907,71820,1,23,1,10,3,10,7,1,7,3,High,3,Better,2,Medium,2,Medium,4,Outstanding,4,Very High
2,RDO0003,Yes,37,30-39,Male,2,College,Other,Single,Research & Development,associate,Laboratory Technician,2,rarely,2,1-5,Yes,80,1373,92,2090,2396,29260,6,15,0,7,3,0,0,0,0,4,Very High,3,Better,2,Medium,3,High,3,Excellent,2,Medium
3,RDO0004,No,33,30-39,Female,4,Master,Life Sciences,Married,Research & Development,associate,Research Scientist,3,frequently,3,1-5,Yes,80,1392,56,2909,23159,40726,1,11,0,8,3,8,7,3,0,4,Very High,3,Better,3,High,3,High,3,Excellent,3,High
4,RDO0005,No,27,18-29,Male,1,Below College,Medical,Married,Research & Development,associate,Laboratory Technician,2,rarely,2,1-5,No,80,591,40,3468,16632,48552,9,12,1,6,3,2,2,2,2,1,Low,3,Better,3,High,2,Medium,3,Excellent,4,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,RDO1466,No,36,30-39,Male,2,College,Medical,Married,Research & Development,analyst,Laboratory Technician,3,frequently,23,20+,No,80,884,41,2571,12290,35994,4,17,1,17,3,5,2,0,3,3,High,3,Better,4,Very High,4,Very High,3,Excellent,3,High
1466,RDO1467,No,39,30-39,Male,1,Below College,Medical,Married,Research & Development,specialist,Healthcare Representative,2,rarely,6,6-10,No,80,613,42,9991,21457,139874,4,15,1,9,5,7,7,1,7,4,Very High,3,Better,2,Medium,1,Low,3,Excellent,1,Low
1467,RDO1468,No,27,18-29,Male,3,Bachelor,Life Sciences,Married,Research & Development,analyst,Manufacturing Director,2,rarely,4,1-5,Yes,80,155,87,6142,5174,85988,1,20,1,6,0,6,2,0,3,2,Medium,3,Better,4,Very High,2,Medium,4,Outstanding,2,Medium
1468,RDO1469,No,49,40-49,Male,3,Bachelor,Medical,Married,Sales,analyst,Sales Executive,3,frequently,2,1-5,No,80,1023,63,5390,13243,75460,2,14,0,17,3,9,6,0,8,4,Very High,2,Good,2,Medium,2,Medium,3,Excellent,4,Very High
1469,RDO1470,No,34,30-39,Male,3,Bachelor,Medical,Married,Research & Development,analyst,Laboratory Technician,2,rarely,8,6-10,No,80,628,82,4404,10228,61656,2,12,0,6,3,4,3,1,2,2,Medium,4,Best,4,Very High,3,High,3,Excellent,1,Low

In [11]:
# Paso 2: Generar nuevo DF para ERD basado en dimensión Career

career = df[['companies_worked','salary_hike_per','stock_option','working_years','training_lastyear','years_company','years_curr_role','years_last_promotion','years_curr_manager']]

career

,companies_worked,salary_hike_per,stock_option,working_years,training_lastyear,years_company,years_curr_role,years_last_promotion,years_curr_manager
0,8,11,0,8,0,6,4,0,5
1,1,23,1,10,3,10,7,1,7
2,6,15,0,7,3,0,0,0,0
3,1,11,0,8,3,8,7,3,0
4,9,12,1,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...
1465,4,17,1,17,3,5,2,0,3
1466,4,15,1,9,5,7,7,1,7
1467,1,20,1,6,0,6,2,0,3
1468,2,14,0,17,3,9,6,0,8
1469,2,12,0,6,3,4,3,1,2

In [12]:
# Paso 3: Crear id para la Foreign Key en SQL

career['Career_id'] = career.index+1

career.insert(0, 'Career_id', career.pop('Career_id'))

career

C:\Users\javie\AppData\Local\Temp\ipykernel_5672\1577405210.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  career['Career_id'] = career.index+1

,Career_id,companies_worked,salary_hike_per,stock_option,working_years,training_lastyear,years_company,years_curr_role,years_last_promotion,years_curr_manager
0,1,8,11,0,8,0,6,4,0,5
1,2,1,23,1,10,3,10,7,1,7
2,3,6,15,0,7,3,0,0,0,0
3,4,1,11,0,8,3,8,7,3,0
4,5,9,12,1,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...
1465,1466,4,17,1,17,3,5,2,0,3
1466,1467,4,15,1,9,5,7,7,1,7
1467,1468,1,20,1,6,0,6,2,0,3
1468,1469,2,14,0,17,3,9,6,0,8
1469,1470,2,12,0,6,3,4,3,1,2

In [13]:
# Paso 4: Exportar el DF 'Career' para posterior uso en ERD

career.to_csv('career.csv',index=False)